---
import { getCollection } from "astro:content"
import PageLayout from "@layouts/PageLayout.astro"
import TopLayout from "@layouts/TopLayout.astro"
import BottomLayout from "@layouts/BottomLayout.astro"
import Blog from "@components/Blog"
import { BLOG } from "@consts"

const posts = (await getCollection("blog"))
  .filter(post => !post.data.draft)
  .sort((a, b) => b.data.date.getTime() - a.data.date.getTime())

const tags = [...new Set(posts.flatMap(post => post.data.tags))]
  .sort((a, b) => a.localeCompare(b))
---

<PageLayout title={BLOG.TITLE} description={BLOG.DESCRIPTION}>
  <TopLayout>
    <div class="animate page-heading">
      {BLOG.TITLE}
    </div>
    <div class="animate">
      <br>
      <p>Welcome to the section dedicated to technological monitoring! Here, I share the latest news, trends, and innovations in the world of technology.</p>
     <br>
     <p>I use <a href="https://feedly.com/i/collection/content/user/a2a3c08a-fab3-4316-a19e-251c7ea9eeb3/category/global.all" style="color: blue; text-decoration: underline;">Feedly</a>, a platform for technological monitoring, to closely follow web development, cybersecurity, artificial intelligence, cloud computing, and many other exciting topics. With Feedly, I explore a variety of information sources to provide relevant and up-to-date content.</p>
     <img src="https://raw.githubusercontent.com/SMaitriya/Portfolio/main/public/images/veuille.png" alt="Technological monitoring image">
     <br><br>

    <p>Depending on the topics, I also share other technological monitoring websites:</p>
    
</div>

  </TopLayout>
  <BottomLayout>
    <div class="animate">
      <Blog client:load tags={tags} data={posts} />
    </div>
  </BottomLayout>
</PageLayout>